body {
	margin:0px;
	color:#F8F8FF;
	background-color:black;
	font-family:Georgia;
}
header{
	background-color:#708090;
	text-align:center;
}

header a{
	text-decoration:none;
}

h1{
	color:white;
	font-size:60px;
	margin:15px;
}
h2{
	font-size:20px;
	margin:15px;
	margin-bottom:5px;
}




#fplinkcontainter{
	width:100%;
	margin-left:auto;
	margin-right:auto;
    display: -webkit-flex; /* Safari */
    display: flex;
	flex-flow:row wrap;
}
@media screen and (min-width: 800px) {
    #fplinkcontainter{
		width:800px;
	}
}

#fplinkcontainter div.f1{
    -webkit-flex: 300px 1; /* Safari 6.1+ */
    -ms-flex: 300px 1; /* IE 10 */ 
    flex: 300px 1;
}
#fplinkcontainter div.f2{
	-webkit-flex: 600px 1; /* Safari 6.1+ */
    -ms-flex: 600px 1; /* IE 10 */ 
    flex: 600px 1;
}

#fplinkcontainter div a{
	position:relative;
	display:block;
	background-color:#c5ccd3;
	margin:4px;
	text-align:center;
	padding:40px;
	color:black;
	text-decoration:none;
	font-size:26px;
	font-weight:bold;
    -webkit-transition: background-color 0.2s, margin 0.2s, padding 0.2s; /* Safari */
    transition: background-color 0.2s, margin 0.2s, padding 0.2s;
	box-shadow:0px 0px 5px #c5ccd3;
}
#fplinkcontainter div a:hover{
	background-color:#FFFAF2;
	margin:0px;
	padding:44px;
}

#frontpageversioninfo{
	font-size:12px;
	margin:15px;
	margin-top:50px;
	position:absolute;
	bottom:0px;
}

.centered_content {
	background-color:#161a1d;
	width:calc(100% - 40px);
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

@media screen and (min-width: 940px) {
	.centered_content {
		width:900px;
	}
}


/* SLIDES */
#slide_container{
	position:relative;
	overflow:hidden;
}
.slide {
	position:absolute;
	display:none;
	width:100%;
	height:100%;
}

.pre {
	font-family:sans-serif;
	background-color:#006600;
	font-size:100px;
	position:absolute;
	white-space:pre-wrap;
	margin:0px;
	padding:15px;
}
.label1{
	display:inline-block;
	width:70px;
}
.label2{
	display:inline-block;
	width:120px;
}
form{
	padding:15px;
}
.changeimg{
	margin-right:10px;
	cursor:pointer;
}




/* DATAPAGE */

#datapagereturn{
text-align:right;
margin-right:5px;
}
#datapagereturnlink{
color:#EEEEEE;
}
#datapagereturnlink:hover{
color:#BBBBBB;
}
#datapagesendnew{
}
.datapagesendnewinput{
margin:5px;
}
#datapagesendnewsetlastdate{
margin-left:40px;
}

#datapageimages{
margin-top:15px;
}

.datapageimageelement{
display:inline-block;
height:200px;
overflow:hidden;
}
.datapageimage{
height:200px;
margin:2px;
}
.datapageelementoptions{
height:0px;
position:relative;
bottom:200px;
margin-left:5px;
}
.datapageelementoptionsimage{
height:50px;
background-color:rgba(0,0,0,0.5);
box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
cursor:pointer;
}
.datapageelementoptionsimage:hover{
background-color:rgba(0,0,0,0.8);
box-shadow: 0px 0px 25px rgba(0,0,0,0.8);
}
#datapagevideos{
margin-top:15px;
}
.datapagevideo{
margin:2px;
}
.datapagevideoelement{
display:inline-block;
}
