body {
margin:0px;
color:white;
background-color:black;
font-family:Georgia;
}

h1{
font-size:70px;
margin:15px;
}
.frontpagelink{
display:block;
color:white;
margin-left:25px;
font-size:25px;
}
.frontpagelink:hover{
color:#AAAAAA;
}
#frontpageversioninfo{
font-size:12px;
margin:15px;
margin-top:50px;
}

.pre {
font-family:sans-serif;
background-color:#006600;
font-size:100px;
position:absolute;
white-space:pre-wrap;
margin:0px;
padding:15px;
}
.label1{
display:inline-block;
width:70px;
}
.label2{
display:inline-block;
width:120px;
}
form{
padding:15px;
}
.changeimg{
margin-right:10px;
}
